<p>{{ project.name }}</p>
<div>
  BPM: <input type="number" [(ngModel)]="project.configuration.bpm"> -
  <button (click)="play()">Start</button>
  <button (click)="stop()">Stop</button> -
  <span>row: {{playStatus.row }} measure: {{ playStatus.measure }} beat: {{ playStatus.beat }} quarter: {{ playStatus.quarter }}</span> -
  <span (click)="toggleMetronome()">Metronome: {{ playStatus.metronome ? 'ON' : 'OFF'}}</span>
</div>
<app-tab-viewer [project$]="projectSubject"></app-tab-viewer>
<app-json-export [project]="project" (projectChange)="importProject($event)"></app-json-export>
<div>
  <pre>{{ project | json }}</pre>
</div>
