<mat-card>
  <mat-card-header>
    <h1>{{ project.name }}</h1>
  </mat-card-header>
  <mat-card-content>
    <div class="inline">
      <mat-form-field>
        <mat-label>BPM</mat-label>
        <input matInput type="number" (change)="setBpm($event.target)" value="{{ project.configuration.bpm }}">
      </mat-form-field>

      <span>&nbsp; &nbsp;</span>
      <button mat-fab extended (click)="playProject()" aria-label="Play song"><mat-icon>play_arrow</mat-icon> Play song</button>
      <button mat-fab extended (click)="stop()" aria-label="Stop"><mat-icon>square</mat-icon> Stop playing</button>
      <!--span>row: {{playStatus.row }} measure: {{ playStatus.measure }} beat: {{ playStatus.beat }} quarter: {{ playStatus.quarter }}</span> - -->
      <span>&nbsp; &nbsp;</span>
      <mat-button-toggle-group
        name="playToggle"
        aria-label="What to play"
        multiple
        (change)="togglePlay($event)"
        value="music"
      >
        <mat-button-toggle value="metronome">Metronome</mat-button-toggle>
        <mat-button-toggle value="music">Music</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <app-tab-viewer
      [clipboardRow]="copiedRow"
      [clipboardMeasure]="copiedMeasure"
      (editMeasure)="editMeasure($event)"
      (copyMeasure)="copyMeasure($event)"
      (pasteMeasure)="pasteMeasure($event)"
      (addRow)="addEmptyRow()"
      (deleteRow)="deleteRow($event)"
      (copyRow)="copyRow($event)"
      (pasteRow)="pasteRow($event)"
      (playRow)="playRow($event)"
    ></app-tab-viewer>
  </mat-card-content>
</mat-card>

@if (editMeasureRequest) {
  <app-edit-measure
    class="m-t-2rem"
    [editMeasureRequest]="editMeasureRequest"
    (save)="applyMeasureChanges($event)"
    (play)="handlePlayMeasureEvent($event)"
    (stop)="handleStopMeasureEvent()"
  ></app-edit-measure>
}

<div class="m-t-2rem">
  <app-json-export [project]="project" (projectChange)="importProject($event)"></app-json-export>
</div>


