<p>{{ project.name }}</p>
<div>
  BPM: <input type="number" (change)="setBpm($event.target)" value="{{ project.configuration.bpm }}"> -
  <button (click)="playProject()">Play</button>
  <button (click)="stop()">Stop</button> -
  <span>row: {{playStatus.row }} measure: {{ playStatus.measure }} beat: {{ playStatus.beat }} quarter: {{ playStatus.quarter }}</span> -
  <span (click)="toggleMetronome()">Play metronome: {{ playStatus.metronome ? 'ON' : 'OFF'}}</span> -
  <span (click)="toggleMusic()">Play music: {{ playStatus.music ? 'ON' : 'OFF'}}</span>
</div>
<app-tab-viewer
  [clipboardRow]="copiedRow"
  [clipboardMeasure]="copiedMeasure"
  (editMeasure)="editMeasure($event)"
  (copyMeasure)="copyMeasure($event)"
  (pasteMeasure)="pasteMeasure($event)"
  (addRow)="addEmptyRow()"
  (deleteRow)="deleteRow($event)"
  (copyRow)="copyRow($event)"
  (pasteRow)="pasteRow($event)"
  (playRow)="playRow($event)"
></app-tab-viewer>
@if (editMeasureRequest) {
  <app-edit-measure
    [editMeasureRequest]="editMeasureRequest"
    (save)="applyMeasureChanges($event)"
    (play)="handlePlayMeasureEvent($event)"
    (stop)="handleStopMeasureEvent()"
  ></app-edit-measure>
}
<hr>
<app-json-export [project]="project" (projectChange)="importProject($event)"></app-json-export>

