<h1>{{ project.name }}</h1>
<div>
  <mat-form-field>
    <mat-label>BPM</mat-label>
    <input matInput  type="number" (change)="setBpm($event.target)" value="{{ project.configuration.bpm }}">
  </mat-form-field>
  <button mat-raised-button (click)="playProject()">Play</button>
  <button mat-raised-button (click)="stop()">Stop</button> -
  <span>row: {{playStatus.row }} measure: {{ playStatus.measure }} beat: {{ playStatus.beat }} quarter: {{ playStatus.quarter }}</span> -
  Play metronome <mat-slide-toggle [(ngModel)]="playStatus.metronome"></mat-slide-toggle>
  Play music <mat-slide-toggle [(ngModel)]="playStatus.music"></mat-slide-toggle>
</div>
<app-tab-viewer
  [clipboardRow]="copiedRow"
  [clipboardMeasure]="copiedMeasure"
  (editMeasure)="editMeasure($event)"
  (copyMeasure)="copyMeasure($event)"
  (pasteMeasure)="pasteMeasure($event)"
  (addRow)="addEmptyRow()"
  (deleteRow)="deleteRow($event)"
  (copyRow)="copyRow($event)"
  (pasteRow)="pasteRow($event)"
  (playRow)="playRow($event)"
></app-tab-viewer>
@if (editMeasureRequest) {
  <app-edit-measure
    [editMeasureRequest]="editMeasureRequest"
    (save)="applyMeasureChanges($event)"
    (play)="handlePlayMeasureEvent($event)"
    (stop)="handleStopMeasureEvent()"
  ></app-edit-measure>
}
<hr>
<app-json-export [project]="project" (projectChange)="importProject($event)"></app-json-export>

