<h3>Edit measure</h3>
<div>Row: {{ editMeasureRequest?.rowIndex }} - Measure: {{ editMeasureRequest?.measureIndex}}</div>
@if (projectConfiguration) {
  <div class="measure" #measureEditor>
    <div class="inline">
      @for (instrument of projectConfiguration.visibleInstruments; track instrument) {
        <div class="cell">
          {{ InstrumentService.getSymbol(instrument) }}
        </div>
      }
      <div class="cell"></div>
    </div>
    @for (beat of measure.beats; track beat; let beatIndex = $index) {
      <div class="beat inline" [ngClass]="{even: $even, odd: $odd}">
        @for (quarter of beat.quarters; track quarter; let quarterIndex = $index) {
          <div class="quarter inline">
            @for (instrument of projectConfiguration.visibleInstruments; track instrument) {
              <div
                class="cell"
                [ngClass]="{selected: hasNote(beatIndex, quarterIndex, instrument)}"
                (click)="toggleNote(beatIndex, quarterIndex, instrument)"
              >
                @if (hasNote(beatIndex, quarterIndex, instrument)) {
                  {{getNote(beatIndex, quarterIndex, instrument).tabSymbol()}}
                } @else {
                  .
                }
              </div>
            }
            <div class="cell">
              @switch ($index) {
                @case (0) {
                  <strong>{{ beatIndex + 1}}</strong>
                }
                @case (1) {
                  e
                }
                @case (2) {
                  &
                }
                @case (3) {
                  a
                }
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
  <div>
    <button (click)="applyChanges()">Apply</button>
    <button (click)="cancel()">Cancel</button>
  </div>
}
