.inline
  display: inline-block

.measure
  .beat.even
    background-color: #dddddd
  .beat.odd
    background-color: #ffffff
  .cell
    width: 2rem
    height: 2rem
    text-align: center
    vertical-align: middle
    border: 1px solid #aaaaaa
